@model wetest.Models.models.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentUser</title>


    <script>
        function update_go() {
            var email = document.getElementById("email").value;
            var phonenumber = document.getElementById("phonenumber").value;
            var phonetest = /^1\d{10}$/;
            var emailtest = /^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/;
            if (!phonetest.test(phonenumber)) {
                alert("手机号码格式错误!");

            }
            else if (!emailtest.test(email)) {
                alert("邮箱格式错误!");

            }
            else {
                var temp = update("http://localhost:54378/UserInfoes/Edit", email, phonenumber);


                if (temp == "result=\"EditUserInfoSuccess\"") {
                    alert("修改成功!");
                    window.location.href = "http://localhost:54378/UserInfoes/CurrentUser";
                }
                else if (temp == "result=\"EditInfoFail\"") {
                    alert("修改失败，请检查您的输入");
                }
                else if (temp == "result=\"DonotFindUserID\"") {
                    alert("身份认证失败！");

                }
                else {
                    alert("未知错误！");

                }
            }

        }

        function update(URL, email, phonenumber) {
            var result;
            $.ajax({
                type: "Post",
                url: URL,
                async: false,
                dataType: "json",
                data: {
                    PhoneNumber: phonenumber,
                    Email: email
                },
                success: function (json) {
                    result = json
                },
                fail: function () {

                }
            });
            return result;

        }
    </script>
</head>
<body>

    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="">个人资料</a>
            </li>
        </ul>
    </div>

    <hr />
    <div class="row" style="display:flex;justify-content:center">

        <table class="table table-bordered" style="width:40%;border:solid;border-color:gainsboro;background-color:ghostwhite;">
            <tr>
                <td>
                    我的邮箱
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    我的电话
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td>
                    注册日期
                </td>
                <td>
                    @Html.DisplayFor(model => model.RegistDate)
                </td>
            </tr>
            <tr>
                <td>
                    修改邮箱
                </td>
                <td>
                    <input class="form-control required" type="text" placeholder="@Model.Email" id="email" autofocus="autofocus" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td>
                    修改电话
                </td>
                <td>
                    <input class="form-control required" type="text" placeholder="@Model.PhoneNumber" id="phonenumber" maxlength="11" />
                </td>
            </tr>
        </table>
        <div>
            <button class="btn" onclick="update_go()" style="justify-content:center">修改</button>
        </div>
        <div>
            <button class="btn" onclick="window.location.href='/Home/BuyerPage'" style="justify-content:center">返回</button>
        </div>

    </div>

</body>
</html>
