@using wetest.Models
@model IEnumerable<wetest.Models.Order>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMyOrders</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/BuyerPage.css">
    <script>
        function receive_btn() {
            document.getElementById("receive").style.display = "inline";
            document.getElementById("provide").style.display = "none";
        }
        function provide_btn() {
            document.getElementById("receive").style.display = "none";
            document.getElementById("provide").style.display = "inline";
        }

        function change_progress(event) {
            var progress = document.getElementById("select_" + event.target.id).value;
            $.ajax({
                type: "Post",
                url: "http://localhost:54378/Orders/ChangeProgress",
                async: false,
                dataType: "json",
                data: {
                    Id: event.target.id,
                    Progress: progress
                },
                success: function (json) {
                    console.log(json)
                    if (json == "result=\"ModProgressSuccess\"") {
                        window.location.href = "http://localhost:54378/Order/ShowMyOrder";
                    }
                },
                fail: function () {

                }
            });          
        }


        function refuse(event) {
            var str = event.target.id;
            id = str.substring(7, 15);
            $.ajax({
                type: "Post",
                url: "http://localhost:54378/Orders/OrderRefuse",
                async: false,
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (json) {
                    console.log(json)
                    if (json == "result=\"RefuseOrderSuccess\"") {
                        window.location.href = "http://localhost:54378/Order/ShowMyOrder";
                    }
                },
                fail: function () {

                }
            });
        }


        function accept(event) {
            var str = event.target.id;
            id = str.substring(7, 15);
            $.ajax({
                type: "Post",
                url: "http://localhost:54378/Orders/OrderAccept",
                async: false,
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (json) {
                    console.log(json)
                    if (json == "result=\"AcceptOrderSuccess\"") {
                        window.location.href = "http://localhost:54378/Order/ShowMyOrder";
                    }
                },
                fail: function () {

                }
            });
        }

        function finish(event) {
            var str = event.target.id;
            id = str.substring(7, 15);
            $.ajax({
                type: "Post",
                url: "http://localhost:54378/Orders/OrderFinish",
                async: false,
                dataType: "json",
                data: {
                    Id: id
                },
                success: function (json) {
                    console.log(json)
                    if (json == "result=\"FinishOrderSuccess\"") {
                        window.location.href = "http://localhost:54378/Order/ShowMyOrder";
                    }
                },
                fail: function () {

                }
            });
        }


        function appeal(event) {
            var str = event.target.id;
            id = str.substring(7, 15);

        }
    </script>
</head>
<body>
    <button onclick="receive_btn()">接收的项目</button>
    <button onclick="provide_btn()">发起的项目</button>
    <div id="receive" style="display:inline;">
        <a>是我接收的项目，我收钱</a>
        @foreach (var item in Model)
        {
            
           if (item.ServicerId == (string)ViewData["MyId"])
           {
                <div class="items">
                    <div class="item">
                        <h4 class="title">@Html.DisplayFor(modelItem => item.Status)</h4>
                        <h5 class="information"> @Html.DisplayFor(modelItem => item.StartDate)</h5>
                        <h5 class=""> @Html.DisplayFor(modelItem => item.EndDate)</h5>
                        <h5 class=""> @Html.DisplayFor(modelItem => item.Price)</h5>
                        <h5 class=""> @Html.DisplayFor(modelItem => item.progress)</h5>
                        <h5 class=""> @Html.DisplayFor(modelItem => item.Information)</h5>
                        @if(@item.Status == "open"){
                        <div>
                        
                            <h5>修改进度</h5>
                        
                            <select id="select_@item.Id">
                                <option value="0">0%</option>
                                <option value="20">20%</option>
                                <option value="40">40%</option>
                                <option value="60">60%</option>
                                <option value="80">80%</option>
                                <option value="100">100%</option>
                            </select>
                        <button id="@item.Id" onclick="change_progress(event)">修改</button>
                        </div>
                        }
                    </div>
                </div>
            }


         }
    </div>

    <div id="provide" style="display:none;">
        <a>是我发起的项目，我付钱</a>
        @foreach (var item in Model)
    {

        if (item.ProviderId == (string)ViewData["MyId"])
        {
            <div class="items">
                <div class="item">
                    <h4 class="title">@Html.DisplayFor(modelItem => item.Status)</h4>
                    <h5 class="information"> @Html.DisplayFor(modelItem => item.StartDate)</h5>
                    <h5 class=""> @Html.DisplayFor(modelItem => item.EndDate)</h5>
                    <h5 class=""> @Html.DisplayFor(modelItem => item.Price)</h5>
                    <h5 class=""> @Html.DisplayFor(modelItem => item.progress)</h5>
                    <h5 class=""> @Html.DisplayFor(modelItem => item.Information)</h5>
                    @if (@item.Status == "waiting")
                    {
                
                        <div>
                            <button id="accept_@item.Id" onclick="accept(event)">确认订单并支付</button>
                            <button id="refuse_@item.Id" onclick="refuse(event)">拒绝订单</button>
                        </div>
                    }

                    @if (@item.Status == "open" && @item.progress==100)
                    {
                        <div>
                            <button id="finish_@item.Id" onclick="finish(event)">完成订单</button>
                            <button id="appeal_@item.Id" onclick="appeal(event)">申述</button>
                        </div>
                    }


                </div>
            </div>
    }


}
    </div>
</body>
</html>
